# Base de datos

ConnectionStrings__Supabase=Host=TU_HOST_SUPABASE;Port=5432;Database=postgres;Username=postgres;Password=TU_PASSWORD;

JwtSettings__SecretKey=COLOCA_UNA_CLAVE_SECRETA
JwtSettings__Issuer=http://localhost:*
JwtSettings__Audience=swagger
JwtSettings__ExpirationMinutes=60

# Otras credendiales jwt, etc
